:host {
  width: 100%;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  canvas {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    border-radius: 10px;
  }
}

// /* 🦆 icon "Edit" */

// position: absolute;
// width: 69.72px;
// height: 69.72px;



// /* Vector */

// position: absolute;
// width: 69.72px;
// height: 69.72px;

// background: #212121;
