:host {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  gap: 2px;
  height: 100%;

  .color-picker {
    > .rgba-text {
      display: none;
    }
  
    > .type-policy {
      display: none;
    }
  }
}
